<!--layout-default-->
<!DOCTYPE html>
<html lang="en">
<head>
  @await Html.PartialAsync("_Metas")
  <title>@ViewData["Title"] - Mazer Admin Dashboard</title>
  @await Html.PartialAsync("_Styles")
  @await RenderSectionAsync("Styles", required: false)
</head>
<body>
  <div id="app">
    @await Html.PartialAsync("_Sidebar")
    <div id="main">
      <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
          <i class="bi bi-justify fs-3"></i>
        </a>
      </header>
      <div class="page-heading">
        <h3>@ViewData["Title"]</h3>
      </div>
      <div class="page-content">
        @RenderBody()
      </div>
      @await Html.PartialAsync("_Footer")
    </div>
  </div>
  @await RenderSectionAsync("Scripts", required: false)
  @await Html.PartialAsync("_Scripts")
</body>
</html>

